

// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";


$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: '~font-awesome/fonts/';

// Bootstrap
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '~sweetalert2/src/sweetalert2';
@import '~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker';
